$grey: rgb(52, 56, 64);
$extra_dark: rgb(40, 45, 67);
$extra_darkT: rgba(40, 45, 67, .5);
$dark: rgb(46, 51, 78);
$darkT: rgba(46, 51, 78, .5);
$mint: rgb(0, 218, 179);
$mintT: rgba(0, 218, 179, .5);
$off_white: rgb(245, 246, 245);